<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         verbose="true">
    <testsuites>
        <testsuite name="External Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="AWS_DYNAMODB_ACCESS_KEY_ID" value="key"/>
        <env name="AWS_DYNAMODB_ENDPOINT" value="http://localhost:8000"/>
        <env name="AWS_DYNAMODB_REGION" value="ap-southeast-2"/>
        <env name="AWS_DYNAMODB_SECRET_ACCESS_KEY" value="secret"/>
        <env name="AWS_DYNAMODB_VERSION" value="latest"/>
        <env name="AUDITING_MIDDLEWARE" value="true"/>
    </php>
</phpunit>
